<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form class="mt-2 row g-3" id="frmOS">

            <!-- OS -->
            <div class="col-md-4">
                <label class="form-label">Nº OS 👨‍💻</label>
                <input type="text" class="form-control" id="txtOs" disabled>
            </div>

            <!-- Data -->
            <div class="col-md-3">
                <label class="form-label">Data 📅</label>
                <input type="text" class="form-control" id="txtData" disabled>
            </div>

            <!-- Buscar cliente -->
            <div class="col-md-5">
                <label for="inputSearchClient" class="form-label">Buscar Cliente 🙍‍♀️</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="inputSearchClient" spellcheck="false"  maxlength="30">
                    <span class="input-group-text">
                        <img src="../public/img/search.png" alt="lupa" width="20">
                    </span>
                </div>
            <!-- Lista de sugestões - estilo Google -->
            <ul id="viewListSuggestion" class="list-group position-absolute w-100"></ul>     
            </div>    
        
            <!-- Id -->
            <div class="col-md-4">
                <label for="inputIdClient" class="form-label">Id do cliente </label>
                <input type="text" class="form-control" id="inputIdClient" spellcheck="false" maxlength="30" disabled>
            </div> 
            

            <!-- Nome -->
            <div class="col-md-5">
                <label for="inputNameClient" class="form-label">Nome </label>
                <input type="text" class="form-control" id="inputNameClient" spellcheck="false" maxlength="30" disabled>
            </div>

            <!-- Telefone -->
            <div class="col-md-3">
                <label for="inputPhoneClient" class="form-label">Telefone 📱</label>
                <input type="text" class="form-control" id="inputPhoneClient" spellcheck="false" maxlength="15" disabled>
            </div>

            <input type="text" id="idClient"> <!-- oculto -->
            <!-- Linha -->
            <hr class="mt-4 border border-secondary border-1">

            <!-- Status -->
            <div class="col-md-4">
                <label class="form-label">Status da OS </label>
                <select class="form-select" id="osStatus">
                    <option value="">Selecione</option>
                    <option>Aberta</option>
                    <option>Em andamento</option>
                    <option>Aguardando peças</option>
                    <option>Finalizada</option>
                    <option>Cancelada</option>
                </select>
            </div>

            <div class="col-md-8">
                <label for="inputModeloDoCarro" class="form-label">Modelo do Carro / Cor 🚗</label>
                <input type="text" class="form-control" id="inputModeloDoCarro" maxlength="30" required>
            </div>

            <div class="col-md-3">
                <label for="inputMarcaCarro" class="form-label">Marca ✔</label>
                <input type="text" class="form-control" id="inputMarcaCarro" maxlength="20">
            </div>

            <div class="col-md-3">
                <label for="inputPlacaCarro" class="form-label">Placa do carro 🚗</label>
                <input type="text" class="form-control" id="inputPlacaCarro" maxlength="20">
            </div>

            <div class="col-md-4">
                <label for="inputDefeito" class="form-label">Serviço 👨‍🏭</label>
                <input type="text" class="form-control" id="inputDefeito" maxlength="80" required>
            </div>

            <div class="col-md-3">
                <label for="inputTecnico" class="form-label">Funcionário 👩‍💼👨‍💼</label>
                <input type="text" class="form-control" id="inputTecnico" maxlength="20">
            </div>

            <div class="col-md-4">
                <label for="inputDiagnostico" class="form-label">Peças 🛠</label>
                <input type="text" class="form-control" id="inputDiagnostico" maxlength="60">
            </div>

            <div class="col-md-5">
                <label for="inputpecas" class="form-label">Observações 🔍</label>
                <input type="text" class="form-control" id="inputpecas" maxlength="80">
            </div>

            <div class="col-md-3">
                <label for="inputValor" class="form-label">Orçamento 💸</label>
                <input type="text" class="form-control" id="inputValor" maxlength="20">
            </div>

            <!-- Botões -->
            <div class="mt-4 d-flex justify-content-center gap-1">
                <button type="submit" class="btn btn-success" id="btnGerarOS">Gerar OS 🟩</button>
                <button type="button" class="btn btn-primary" id="btn-search" onclick="findOS()">Buscar OS 🟦 </button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar OS 🟨</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="removeOS()">Excluir OS 🟥</button>
                <button type="button" class="btn btn-secondary" id="btn-print" onclick="generateOS()">Imprimir OS ⬛</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../views/rendereros.js"></script>
</body>

</html>
